# TAZ Time Matrix
#### Daniel Fay

* Choose 10 TAZs
* Calculate time between each TAZ
* Create time matrix

#### TAZs:
* 3604700003900
* 3604700030500
* 3604700019300
* 3604700033700
* 3604700079400
* 3604700021200
* 3604700041500
* 3604700055500
* 3608100065703
* 3604700023300

* nodelist = array of 1s and 0s indicating on-board or need to be picked up

In [2]:
#import geopandas as gpd
import pandas as pd
import googlemaps
import numpy as np
import sys

In [3]:
sys.version

'3.6.1 | packaged by conda-forge | (default, May 11 2017, 18:00:28) \n[GCC 4.2.1 Compatible Apple LLVM 6.1.0 (clang-602.0.53)]'

In [5]:
tazs = gpd.read_file('../Data/tl_2011_36_taz10/tl_2011_36_taz10.shp')

In [6]:
tazs = tazs.loc[tazs['GEOID10'].isin(['3604700003900', '3604700030500', '3604700019300', '3604700033700', \
                                      '3604700079400', '3604700021200', '3604700041500', '3604700055500', \
                                      '3608100065703', '3604700023300'])]
tazs['centroid'] = tazs.geometry.centroid
tazs.head()

,ALAND10,AWATER10,COUNTYFP10,FUNCSTAT10,GEOID10,INTPTLAT10,INTPTLON10,MPOCE10,MTFCC10,STATEFP10,TADCE10,TAZCE10,geometry,centroid
1699,222181,0,047,S,3604700079400,+40.6486053,-073.9552860,36198201,G6320,36,00002022,00079400,"POLYGON ((-73.95205 40.646771, -73.95268299999...",POINT (-73.95528601111259 40.64860530498309)
1740,171841,0,047,S,3604700023300,+40.6887957,-073.9574901,36198201,G6320,36,00002007,00023300,"POLYGON ((-73.954684 40.687245, -73.956841 40....",POINT (-73.95749006740984 40.68879571048443)
1743,322484,0,047,S,3604700030500,+40.6773162,-073.9590607,36198201,G6320,36,00002015,00030500,"POLYGON ((-73.95670299999999 40.674171, -73.95...",POINT (-73.9590606595944 40.67731617467403)
1863,197590,0,047,S,3604700033700,+40.6694017,-073.9421815,36198201,G6320,36,00002015,00033700,"POLYGON ((-73.94504599999999 40.668615, -73.94...",POINT (-73.94218150330757 40.66940160641042)
1912,156923,0,047,S,3604700003900,+40.6849013,-073.9808240,36198201,G6320,36,00002011,00003900,"POLYGON ((-73.97960499999999 40.682489, -73.98...",POINT (-73.98082401682792 40.68490131368307)

In [7]:
tazs.to_csv('TAZs.csv')

In [18]:
tazs = pd.read_csv('TAZs.csv', index_col=0)

In [23]:
lats = []
for ix, row in tazs.iterrows():
    lat = str(row['INTPTLAT10'])
    lats.append(lat)
    
lons = []
for ix, row in tazs.iterrows():
    lon =  str(row['INTPTLON10'])
    lons.append(lon)

In [ ]:
gmaps = googlemaps.Client(key='AIzaSyA5PJBWOkLWnycbEEFRyL9touCbozHMmjI')

In [67]:
time_matrix = pd.DataFrame()
distances = []
for i in range(10):
    for k in range(10):
        origin = lats[i] + ' ' + lons[i]
        destination = lats[k] + ' ' + lons[k]
        distance_result = gmaps.distance_matrix(origin, destination)
        distances.append(distance_result['rows'][0]['elements'][0]['duration']['value'])
    time_matrix = time_matrix.append(pd.DataFrame(distances).T)
    distances = []

In [73]:
time_matrix.reset_index(inplace=True, drop=True)
time_matrix

      0     1     2     3     4     5     6     7     8     9
0     0  1096   817   738  1311  1288  1408  1714  1705  2168
1  1216     0   442   660   829   375  1398   885   987  1574
2  1052   392     0   545   657   560  1614  1191  1129  1782
3   743   652   382     0   899   844  1673  1270  1054  1560
4  1198   553   549   803     0   583  1120  1091  1423  1623
5  1469   253   695   913   902     0  1279   855  1084  1456
6  1513  1631  1500  1589  1363  1603     0  1781  2342  2313
7  1896   943  1318  1622  1200   912  1477     0  1503  1500
8  1728  1142  1338  1120  1760  1291  2305  1502     0  1172
9  2200  1671  1839  1592  1928  1640  2206  1505  1272     0

In [74]:
time_matrix.to_csv('../Data/time_matrix.csv')

In [12]:
nodelist = np.array([0,0,1,1,1])

In [13]:
nodelist

array([0, 0, 1, 1, 1])